<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender - výstup do konzoly -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Framework loggery - len dôležité správy -->
    <logger name="root" level="WARN"/>
    <logger name="net.serenitybdd" level="INFO"/>
    <logger name="net.thucydides" level="INFO"/>

    <!-- Selenium - potlačiť verbose výstupy -->
    <logger name="org.openqa.selenium" level="WARN"/>
    <logger name="io.github.bonigarcia.wdm" level="INFO"/>

    <!-- TVOJE PACKAGE LOGGERY -->
    <logger name="starter.saucedemo" level="INFO"/>
    <logger name="starter.drivers" level="INFO"/>

    <!-- Root logger -->
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.openqa.selenium.devtools.CdpVersionFinder" level="ERROR"/>
    <logger name="org.openqa.selenium.chromium.ChromiumDriver" level="ERROR"/>

</configuration>